body {
  background-color: black;
}

/*Slider */

.slider {
  width: 31.25rem;
  margin: 5% auto;
}
/*Slides */

.slider-overflow {
  overflow: hidden;
  width: 31.25rem;
}

.slides {
  display: flex;
  flex-direction: row;
  transition: 2s;
}

.slider-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 3%;
}

/* Caption */
.caption {
  color: white;
  font-size: 1.25rem;
  font-style: normal;
}

/*Dot Element */

input[type="radio"] {
  display: none;
}
.navigation {
  display: flex;
}

.interactive {
  padding: 0.4rem;
  height: 1rem;
  width: 1rem;
  opacity: 1;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot {
  height: 1rem;
  width: 1rem;
  background-color: #5a68e2;
  border-radius: 50%;
  display: inline-block;
}

.dot:hover {
  background-color: #acaec2;
}

.radio1:hover div:nth-child(1),
.radio2:hover div:nth-child(1),
.radio3:hover div:nth-child(1),
.radio4:hover div:nth-child(1) {
  background-color: #acaec2;
}

/*Interactivity */

#slide1:checked ~ .container .slides {
  margin-left: 0%;
}

#slide2:checked ~ .container .slides {
  margin-left: -34.375rem;
}

#slide3:checked ~ .container .slides {
  margin-left: -68.75rem;
}

#slide4:checked ~ .container .slides {
  margin-left: -103.125rem;
}
